*{
    margin: 0;
    padding: 0;
}

body{font-family: sans-serif;}



 header{background-color: rgb(0, 0, 0);
color: rgb(255, 0, 0);
display: flex;
justify-content: space-around;
padding: 24px 0;}

.imagem-cabecalho{
    width: 15%;
    height: 5%;
    }
li 
{display: inline-block;
    margin: 0 16px;
    padding: 25px 0;
    font-size: 25px;
}

.escola-imagem{
    width: 20%;
}

h1 
{display: flex;
    margin: 0 16px;
    padding: 100px 0;
    font-size: 20px;
}
.escola{
    background-image: linear-gradient(black, red);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.escola-conteudo{
    width: 90%;
}

.escola-titulo{
    padding: 50px 30px;

}

.aluno1{
    width: 40%;
    height: 50%;
}

.estudante-icone{
    width: 10%;
}

.estudante-div{
    text-align: center;
}

.aluno-titulo{
    text-align: center;
}

.estudante-todos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

footer{
    background-color: rgb(255, 117, 117);
    color: rgb(58, 0, 112);
    text-align: center;
}

.h2{
    display: grid;
    size: 25%;
}
